@use '../../styles/utilities'

$inputColor: #E6DEFF

img
  width: 50vw
  @media (max-width: utilities.$smallScreen)
    display: none

.container
  height: 100vh
  flex: 1
  display: flex
  align-items: center
  justify-content: center

.form-container
  flex: 1
  display: flex
  justify-content: center

  .contact-form
    display: flex
    width: 20em
    flex-direction: column

    label
      margin: .5em 0
    input
      padding-left: 1em
      background: $inputColor
      border: 0px
      border-radius: 1em
      outline: none
      height: 2em
    textarea
      background: $inputColor

    .submit
      width: 100%
      padding-left: 0
      margin: 1.5em 0
      height: 2.5em
      @extend .primaryBtn

.optional
  color: grey
