@use '../../../../styles/utilities'

$height: 2em
$bgColor: #16171A 

.angle
  position: absolute
  left: -2.5em
  width: 2.5em
  z-index: 10
  height: $height
  background: $bgColor
  overflow: hidden
  border-radius: 0% 0% 0% 100%

.container
  background: #16171A
  position: absolute
  z-index: 1
  top: utilities.$navbarHeight + .2em
  display: flex
  justify-content: flex-end
  right: 0
  @media (max-width: utilities.$smallScreen)
    display: none

.in-main-navbar
  z-index: 23
  margin-top: .5em
  margin-left: 1em
  height: 8em
  flex-direction: column
  li
    justify-content: flex-start
  @media (min-width: utilities.$smallScreen)
    display: none

ul
  display: flex
  padding: 0
  margin: 0
  width: 25em
  height: $height

  li
    cursor: pointer
    flex: 1
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    color: utilities.$fontColor
    &.active
      color: white
