@use './styles/utilities'

h1, h2, h3, h4, p, body
  color: white
  font-family: Montserrat-Regular
h1
  font-family: Montserrat-Light

ul
  list-style-type: none

.padding-to-avoid-navbar
  padding-top: utilities.$navbarHeight * 2

.compensate-for-navbar
  height: utilities.$navbarHeight

.App
  height: 100vh
  display: flex
  width: 100vw
  flex-direction: column

@font-face
  font-family: 'Montserrat-Light'
  src: local('KaushanScript-Regular'), url('./assets/fonts/Montserrat-Light.ttf') format('truetype')

@font-face
  font-family: 'Montserrat-Regular'
  src: local('KaushanScript-Regular'), url('./assets/fonts/Montserrat-Regular.ttf') format('truetype')
